<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vocabulary Specification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #1e1e1e;
            color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: white;
            padding: 15px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        main {
            padding: 20px;
        }
        h1, h2, h3 {
            color: #5d8ae2;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #444;
            padding: 8px;
        }
        th {
            background-color: #333;
            color: white;
        }
        th, td {
            text-align: left;
        }
        a {
            color: #346ddb;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .property {
            background-color: #2e2e2e;
            padding: 20px;
            margin: 20px 0;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .property h3 {
            margin-top: 0;
        }
        .back-to-top {
            text-align: right;
            font-size: small;
        }
        .back-to-top a {
            color: #346ddb;
        }
        .container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content {
            flex: 1;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <header>
        <h1>Vocabulary Specification</h1>
    </header>
    <div class="container">
        <div class="content">
            <main>
                <h2 id="sec-toc">Table of Contents</h2>
                <ul>
                    {{range .Terms}}
                    <li><a href="#{{.Name}}">{{.Name}}</a></li>
                    {{end}}
                </ul>

                {{range .Terms}}
                <div id="{{.Name}}" about="{{$.BaseURL.String}}#{{.Name}}" typeof="rdfs:Property" class="property">
                    <h3>Property: {{.Name}}</h3>
                    <em>{{.Name}}</em> - {{.Description}} <br>

                    <h4>Description</h4>
                    <p><code><a href="#{{.Name}}">{{.Name}}</a></code>: {{.Description}}</p>

                    <h4>Usage</h4>
                    <p>{{.Usage}}</p>

                    <p class="back-to-top">[<a href="#{{.Name}}">#</a>] [<a href="#sec-toc">back to top</a>]</p>
                </div>
                {{end}}
            </main>
        </div>
        <footer>
            <p>© 2024 Vocabulary Specification. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
